
body{
margin: 0;
padding: 0;
width: 100%;
overflow-x: hidden;
}

.sana {
  position: fixed;
width:1500px;
height: 150px;
background:
linear-gradient(to right,aqua, aquamarine);
display: flex;
justify-content: center;
align-items: center;
border-radius: 0px;
flex-wrap: wrap;

}
.sana i{
font-size: 150px;  
margin-right: 1400px;
padding-bottom: 50px;
  
}
  

.sana input{
  position: fixed;
  width:1100px;
  height: 100px;
  border-radius: 20px;
  
}
input::placeholder {
  display: flex;
  text-align: center;

  font-size: 45px;
}

.honey{
width:1500px;
height:100px;
background-color: lightblue;
display: flex;
}
i{
margin-top:50px;
margin-left:80px;
}
h1{
margin-top:30px;
margin-left: 40px;
}
.container{
  margin-top:100px;
width:1500px;
display: flex;
overflow-x: auto;
scroll-snap-type: x mandatory;

}
.Warangal img{
width:150px;
height:150px;
object-fit: contain;
border-radius: 10px;

}
.Hyderabad img{

width:1500px;

}
.box{
display: flex;
overflow-x: auto;
width:1500px;
justify-content:space-evenly;
}
.sanath img {
 box-shadow:5px 5px 10px 2px rgba(0, 0, 0, 0.5);
height:500px;
width:400px;
justify-content: space-evenly;

}

.division{
  display: flex;
  justify-content: space-evenly;
}
.apple i{
  box-shadow:5px 5px 10px 2px rgba(10, 0, 0, 10);
  
}
.apple i {
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height: 50px;
 font-size: 150px;
 margin-right: 100px;
 padding-top: 100px;
 padding-left: 100px;
 padding-right:100px;
 padding-bottom:100px;
 background-color: orangered;
 background-size:cover;
 border-radius: 50%;
 
}

.apple i {
  display:flex;
  justify-content: center;
  align-items: center;
  width:50px;
  height: 50px;
 font-size: 150px;
 margin-right: 100px;
 padding-top: 100px;
 padding-left: 100px;
 padding-right:100px;
 padding-bottom:100px;
 background-color: orangered;
 background-size:cover;
 border-radius: 50%;
 
}

.apple i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 150px;
  margin-right: 100px;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 100px;
  background-color: orangered;
  background-size: cover;
  border-radius: 50%;
}

.apple h1{
  text-align: center;
  
}
.apple h1{
  text-align:center;
}
.apple h1{
  text-align: center;
}
hr.line{
  border:line;
  height:5px;
  background-color: whitesmoke;
  width:5000px;
}
h2{
  font-size:80px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left:70px;
}
.windows {
display: flex;
  
}

.linux img{
  width:700px;

}
p{
margin-left:20px;
font-size:60px;
font-weight: bold;
}
.del img{
  width: 700px;
}
.India{
  display:flex;
}
.Hp img{
  width:700px;
}
.Lenovo img{
  width:650px;
}
a{
  font-size:50px;
  font-weight: bold;
  text-decoration: none;
  
}
hr.Sline{
  
  border:line;
  height: 5px;
  background-color: whitesmoke;
  width:5000px;
}
h5{
font-size:80px;
}
.shopping{
  display: flex;
  
}
.dress img {
  box-shadow:5px 5px 10px 2px rgba(0,0,0,20)
  
}
.dress button{
  width: 100px;
  height:50px;
  border-radius:20px;
  border-color: red;
  color:red;
  font-weight: bold;
}
.medical img{
  margin-top:50px;
  margin-left:100px;
  width:700px;
  height:800px;
  box-shadow:5px 5px 10px 2px rgba(0,0,0,10);
}
h1{
  display: inline;
  
  
}
strike{
  color:red;
}